<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">

     {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Duplicate Image</title>
    {% endif %}

</head>
<body>
    <div class="container">
      <h1>IBM Cloud</h1>
      <h2> Tharoon T Thiagarajan</h2>
      <h2> 1001704601 </h2>
      <br>

      <center>
        <p> <h1>Image Already Exists</h1></p>
      </center>
      <br>
      <br>


    </div>

  </body>
</html>
