<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Update Salary</title>
    {% endif %}

  </head>
  <body>
    <div class="container">
      <h1>IBM Cloud</h1>
      <h2> Tharoon T Thiagarajan </h2>
      <h2> 1001704601 </h2>
      <br>

       <center>
      {#{% if table is not None %}#}
          <table>
           <th id=td1> PIC </th>
              <th id=td1> OWNER </th>
              <th id=td1> NAME </th>
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td id=td1> <img src="https://s3.us-south.cloud-object-storage.appdomain.cloud/tcubestorage-cos-standard-s1c/{{value[0]}}" height="100" width="100"> </td>
                  <td id=td1> {{ value[1] }} </td>
                  <td id=td1> {{ value[2] }} </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>Data not Available</div>#}
      {#{% endif %}#}
        </center>
      <br>
      <br>


    </div>

  </body>
</html>
